In [1]:
#Import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
#Create engine
engine = create_engine('mysql+pymysql://root:@ip:port/folder')

In [3]:
#Connecting engine
conn = engine.connect()

In [4]:
#Read a query into a DataFrame
df = pd.read_sql('''SELECT * FROM data1202.vgsales_2016''', conn)
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8,322,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,,,,,,
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,,,,,,

In [5]:
#Was the average of global sales higher before or after 2005?
before = df[df['Year_of_Release'] < 2005].Global_Sales.mean()
after = df[df['Year_of_Release'] >= 2005].Global_Sales.mean()
print('The average of global sales before 2005 was', round(before, 2), 'while the average after 2005 was', round(after, 2))

The average of global sales before 2005 was 0.65 while the average after 2005 was 0.48

In [7]:
#Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'
df['pre_or_post_2005'] = df['Year_of_Release'] < 2005
df['pre_or_post_2005'] = df.pre_or_post_2005.map({True:'pre-2005', False:'post-2005'})

df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,pre_or_post_2005
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8,322,Nintendo,E,post-2005
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,,,,,,,pre-2005
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E,post-2005
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E,post-2005
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,,,,,,,pre-2005